<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ecfeed.rcp3.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ecfeed.rcp3.hello"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ecfeed.rcp3.HelloHandler"
            id="ecfeed.rcp3.hello"
            name="Hello">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="ecfeed.rcp3.Perspective"
            id="ecfeed.rcp3b.perspective">
      </perspective>
   </extension>

</plugin>
