<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.testify.ecfeed.rcp3.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.testify.ecfeed.rcp3.Perspective"
            id="ecfeed.rcp3.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="ecfeed.rcp3.newMem"
                  label="New"
                  style="push">
            </command>
            <command
                  commandId="ecfeed.rcp3.open"
                  label="Open...">
            </command>
            <separator
                  name="ecfeed.rcp3.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="ecfeed.rcp3.close"
                  label="Close"
                  style="push">
            </command>
            <separator
                  name="ecfeed.rcp3.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="ecfeed.rcp3.save"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="ecfeed.rcp3.saveAs"
                  label="SaveAs..."
                  style="push">
            </command>
            <separator
                  name="ecfeed.rcp3.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  label="Undo">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  label="Redo"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="ecfeed.rcp3.about"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ecfeed.rcp3.open"
            name="Open">
      </command>
      <command
            id="ecfeed.rcp3.save"
            name="Save">
      </command>
      <command
            id="ecfeed.rcp3.saveAs"
            name="SaveAs">
      </command>
      <command
            id="ecfeed.rcp3.newMem"
            name="New mem">
      </command>
      <command
            id="ecfeed.rcp3.new"
            name="New">
      </command>
      <command
            id="ecfeed.rcp3.about"
            name="About">
      </command>
      <command
            id="ecfeed.rcp3.cut"
            name="Cut">
      </command>
      <command
            id="ecfeed.rcp3.copy"
            name="Copy">
      </command>
      <command
            id="ecfeed.rcp3.paste"
            name="Paste">
      </command>
      <command
            id="ecfeed.rcp3.delete"
            name="Delete">
      </command>
      <command
            id="ecfeed.rcp3.close"
            name="Close">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.testify.ecfeed.rcp3.handlers.OpenEctRcpHandler"
            commandId="ecfeed.rcp3.open">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.SaveEctRcpHandler"
            commandId="ecfeed.rcp3.save">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.SaveAsEctRcpHandler"
            commandId="ecfeed.rcp3.saveAs">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.NewEctRcpHandler"
            commandId="ecfeed.rcp3.new">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.NewInMemEctRcpHandler"
            commandId="ecfeed.rcp3.newMem">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.AboutRcpHandler"
            commandId="ecfeed.rcp3.about">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.CutRcpHandler"
            commandId="ecfeed.rcp3.cut">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.CopyRcpHandler"
            commandId="ecfeed.rcp3.copy">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.PasteRcpHandler"
            commandId="ecfeed.rcp3.paste">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.DeleteRcpHandler"
            commandId="ecfeed.rcp3.delete">
      </handler>
      <handler
            class="com.testify.ecfeed.rcp3.handlers.CloseEctRcpHandler"
            commandId="ecfeed.rcp3.close">
      </handler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ecfeed.rcp3.application"
            name="ecFeed">
         <property
               name="appName"
               value="ecFeed">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="ecFeedScheme"
            name="ecFeedScheme">
      </scheme>
      <key
            commandId="ecfeed.rcp3.open"
            schemeId="ecFeedScheme"
            sequence="M1+O">
      </key>
      <key
            commandId="ecfeed.rcp3.new"
            schemeId="ecFeedScheme"
            sequence="M1+N">
      </key>
      <key
            commandId="ecfeed.rcp3.save"
            schemeId="ecFeedScheme"
            sequence="M1+S">
      </key>
      <key
            commandId="ecfeed.rcp3.close"
            schemeId="ecFeedScheme"
            sequence="M1+W">
      </key>
      <key
            commandId="org.eclipse.ui.file.closeAll"
            schemeId="ecFeedScheme"
            sequence="SHIFT+M1+W">
      </key>
   </extension>

</plugin>
