<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2?>
<plugin>
   <extension-point id="com.testify.ecfeed.extensionpoint.definition.androidfactory" name="AndroidFactory" schema="schema/com.testify.ecfeed.extensionpoint.definition.androidfactory.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="ecFeed"
            id="com.testify.ecfeed">
      </category>
      <wizard
            name="New Equivalence Class Tree file"
            icon="icons/root_node.png"
            category="com.testify.ecfeed"
            class="com.ecfeed.ui.wizards.NewEcFileWizard"
            id="com.testify.ecfeed.ui.wizards.NewEcFileWizard">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.testify.ecfeed.ui.editor.ModelEditor"
            extensions="ect"
            icon="icons/root_node.png"
            id="com.testify.ecfeed.ui.EctEditor"
            name="ecmodel">
      </editor>
   </extension>
</plugin>
