<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="ecFeed"
            id="com.testify.ecfeed">
      </category>
      <wizard
            name="New Equivalence Class Tree file"
            icon="icons/sample.gif"
            category="com.testify.ecfeed"
            class="com.testify.ecfeed.wizards.NewEcFileWizard"
            id="com.testify.ecfeed.wizards.NewEcFileWizard">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.testify.ecfeed.editor.EcMultiPageEditor"
            extensions="ect"
            icon="icons/sample.gif"
            id="com.testify.ecfeed.editors.EcMultiPageEditor"
            name="ecmodel">
      </editor>
   </extension>
</plugin>
