<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.testify.ecfeed.generator.nwise"
         name="Generic n-wise test data generator"
         point="com.testify.ecfeed.generator">
      <generator
            id="com.testify.generators.nwise"
            implementation="com.testify.generators.NWiseGenerator"
            name="n-wise test data generator">
      </generator>
   </extension>

</plugin>
