<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.testify.ecfeed.algorithm">
      <algorithm
            implementation="com.testify.generators.algorithms.Cartesian"
            name="Cartesian">
      </algorithm>
   </extension>

</plugin>
